/* consultar_pedidos.css */
#consultar-pedidos {
    text-align: center;
}

#pesquisa-pedido {
    width: 50%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #111;
    color: #eee;
    margin-bottom: 20px;
}

.pedidos-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que as divs quebrem para a próxima linha se necessário */
}

.pedidos-aguardando-producao, 
.pedidos-finalizados-aguardando-envio,
.pedidos-finalizados {
    flex: 1 1 300px; /* Cada div ocupa pelo menos 300px e pode crescer */
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.pedidos-aguardando-producao h3, 
.pedidos-finalizados-aguardando-envio h3,
.pedidos-finalizados h3 {
    margin-bottom: 15px;
}

#lista-pedidos-aguardando-producao,
#lista-pedidos-finalizados-aguardando-envio,
#lista-pedidos-finalizados {
    list-style: none;
    padding: 0;
}

#lista-pedidos-aguardando-producao li,
#lista-pedidos-finalizados-aguardando-envio li,
#lista-pedidos-finalizados li {
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lista-pedidos-aguardando-producao li:hover,
#lista-pedidos-finalizados-aguardando-envio li:hover,
#lista-pedidos-finalizados li:hover {
    background-color: #444;
}

#modal-tabela-itens {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#modal-tabela-itens th,
#modal-tabela-itens td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #555;
}

#area-frete,
#area-nota-fiscal {
    margin-top: 20px;
}

.azul { /* Nova classe para botões azuis */
    background-color: #337ab7;
}

.laranja {
    background-color: orange; 
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

/*.paginacao button {
     ... (seus estilos para botões) ... 
}*/

.paginacao ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.paginacao li {
    background-color: #222; /* Cor de fundo dos itens */
    padding: 8px 12px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    border: 1px solid #555; /* Borda sutil */
}

.paginacao li a {
    text-decoration: none; /* Remove a decoração do link */
    color: #eee; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
}

.paginacao li.ativo { /* Estilo para a página atual */
    background-color: #555; /* Cor de fundo mais escura */
}