#consultar-cliente {
    text-align: center;
}

#pesquisa-cliente {
    width: 50%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #111;
    color: #eee;
    margin-bottom: 20px;
}

#lista-clientes {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}

#lista-clientes li {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lista-clientes li:hover {
    background-color: #555;
}

#modal-extrato-cliente .modal-content {
    /* ... (seus estilos para o conteúdo do modal) ... */
    width: 60%; /* Ajuste a largura conforme necessário */
}

#saldo-cliente {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#tabela-extrato {
    width: 100%;
    border-collapse: collapse;
}

#tabela-extrato th,
#tabela-extrato td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #555;
}

#tabela-extrato .transacao-item {
    cursor: pointer; /* Torna a linha clicável */
}

#tabela-extrato .transacao-item:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

#tabela-pagamentos {
    width: 100%;
    border-collapse: collapse;
}

#tabela-pagamentos th,
#tabela-pagamentos td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #555;
}

#tabela-pagamentos .transacao-item {
    cursor: pointer; /* Torna a linha clicável */
}

#tabela-pagamentos .transacao-item:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}