/* Estilos para a página de consultar clientes */
.consultar-clientes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .clientes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .cliente-container {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para a área de pesquisa */
  .pesquisa-clientes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pesquisa-clientes-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .consultar-clientes-container {
      flex-direction: column;
    }
  
    .clientes-container {
      flex-direction: column;
    }
  }