/* Estilos para a página de novo cliente */
.novo-cliente-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .novo-cliente-form {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .novo-cliente-titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .novo-cliente-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .novo-cliente-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }