/* Estilos para a página do cliente */
.cliente-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cliente-form {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .cliente-titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cliente-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .cliente-select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    appearance: none; /* Remove a seta padrão do select */
    -webkit-appearance: none; /* Remove a seta padrão do select no Chrome/Safari */
    -moz-appearance: none; /* Remove a seta padrão do select no Firefox */
  }
  
  .cliente-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  /* Estilos para o carrinho de compras */
  .carrinho-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .coluna-produto {
    font-weight: bold;
  }
  
  .coluna-quantidade {
    font-size: 18px;
  }
  
  .coluna-acoes {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Estilos para o resumo da venda */
  .resumo-venda {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .resumo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .resumo-titulo {
    font-weight: bold;
  }
  
  .resumo-valor {
    font-size: 18px;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    .cliente-container {
      flex-direction: column;
    }
  
    .cliente-form {
      width: 100%;
    }
  }